body {
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
}

.card {
  border-radius: 15px;
}

.btn-primary {
  background-color: #0077b6;
  border: none;
}

.btn-success {
  background-color: #009688;
  border: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
